name: Create Issue Branch (ChatOps)

on:
  # Nur Kommentare sind relevant, weil wir im chatops-Mode sind
  issue_comment:
    types: [created]

jobs:
  create_issue_branch_job:
    runs-on: ubuntu-latest

    steps:
      - name: Create Issue Branch
        uses: robvanderleek/create-issue-branch@main
        env:
          GITHUB_TOKEN: ${{ github.token }}
